* {
  margin: 0;
  padding: 0;
}
/* ---Main parts--- */
body {
  color: #444;
  font-family: sans-serif;
}
.container {
  width: 700px;
  margin: 20px auto;
  padding: 25px;
  background-color: rgb(8, 143, 143);
  border-radius: 10px;
}

/* ---Headers--- */
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}

/* ---Input fields--- */
label {
  font-weight: bold;
}
.holders {
  margin: 25px auto;
}

.data-holder {
  margin: 10px auto;
  text-align: center;
}
input {
  padding: 10px;
  width: 50%;
}

/* ---Button styles--- */
.button-holder {
  text-align: center;
}
button {
  border: none;
  padding: 10px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border-radius: 7px;
  text-shadow: 5px;
}

.register {
  background-color: green;
}

.exit {
  background-color: red;
}

a {
  color: #fff;
}

a:link {
  text-decoration: none;
}
